<h1>Welcome to Trainly.io!</h1>

{% if name %}
    Hello, {{ name }}
    <br>
    <a href="{% url 'trainly:main' %}">main page</a>
{% endif %}

<ul>
    <li><a href="{% url 'trainly:login' %}">Log In</a></li>
    <li><a href="{% url 'trainly:register' %}">Sign Up</a></li>
    <li><a href="{% url 'trainly:logout' %}">Logout</a></li>
</ul>

<p style="color: orangered;font-size:20px">
    The Trainly.io is an App Store of training where organizations with faculty can create
    and teach courses for users who find and enroll in.</p>