{% load static %}

Hello, {{ first_name }} {{ last_name }}<br>
<h2>Basic Information</h2>
<img src="{% static 'trainly/default.png' %}" width="100"><br>
<b>Email:</b> {{ email }}<br>
<b>Country:</b> {{ country }} <b>City:</b> {{ city }} <br>
<b>Street:</b> {{ street }}
<b>PostalCode:</b> {{ postal_code }}<br>

<a href="{% url 'trainly:courses' %}">See All Courses</a><br>

<a href="{% url 'trainly:enrolled_courses' uid%}">Enrolled Courses</a><br>
<a href="{% url 'trainly:completed_courses' uid %}">Completed Courses</a><br>
<a href="{% url 'trainly:interested_courses' uid%}">Interested Courses</a><br>

{% if admin %}
    <h2>Admin Site</h2>
    <a href="{% url 'trainly:add_faculty' %}">Add a faculty</a><br>
    <a href="{% url 'trainly:add_admin' %}">Add a fellow admin</a>
{% endif %}

{% if faculty %}
    <h2>Teacher Site</h2>
    <b>affiliation:</b> {{ affiliation }}<br>
    <b>website:</b> <a href="http://{{ website }}">{{ website }}</a><br>
    <b>title:</b> {{ title }}<br>
{% endif %}